html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    width: 1445px;
    height: 4759px;
    margin: 0 auto;
}

.novigationBar{
    margin-left: 0 auto;
}
.novigationBar_Btn{
    width: 150px;
    height: 35px;
    color: #828282;
    cursor: pointer;
    background-color: #FFF;
    border: #FFF;
    
}

.novigationBar_Btn:hover{
    background-color: rgba(220, 217, 221, 0.603);
    transition-property: background-color;
    transition-duration: 1s;
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.enterBlock{
    text-align: center;
    
}

.enterBlock_myIntroduce{
    display: inline-block;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 150;
}


.enterBlock_post{
    display: inline-block;
    width: 600px;
    height: 60px;
}


.enterBlock_languages{
    display: inline-block;
    
    transform: rotate(-90deg);
}

.foto{
    width: 943.612px;
    height: 387px;
    margin-left: 250.69px;
}

.title{
    color: black;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutMe{
    text-align: center;
    width: 1445px;
    height: 506px;
    background: #F6F6F6;
}

.skills{
    text-align: center;
}

.skills_bar_form{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 89.073px;
    height: 88.413px;
}
