html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.all{
    width: 1445px;
    height: 4760px;
    border: solid 2px #bbb;
}

.nav-beg{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-beg_Btn{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: none;
    display: inline;
    color: #828282;
    cursor: pointer;
}

.line{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #828282;
    margin-bottom: 40px;
}






.enter-block{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 30px ;
    margin-left: auto;
    margin-right: auto;
}

.enter-block_my{
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #070707;
    
}

.enter-block_post{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: center;
}

.enter-block_languages{
    cursor: pointer;
    transform: rotate(-90deg);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #828282;
    position: relative;
    margin-left: 250px;
}

.foto{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
}

.about{
    width: 1445px;
    height: 506px;
    background: #F6F6F6;
}

.inner-txt{
   color: #070707; 
   padding-top: 120px;
}

.me-title{
    color: var(--black, #070707);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_info{
    text-align: center;
}



.skills{
    text-align: center;
}

.skills-bar_form{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 90px;
    height: 90px;
}

.skill-title{
    color: var(--black, #070707);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 90px;
}

#txt{
    margin-top: 70px;
    margin-bottom: 85px;
}

