html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}
.grey{
    background: #F6F6F6;
    margin-top:100px ;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid #828282 2px;
}

.header_btn{
    font-size: 18px;
    text-decoration: none;
    color: #828282;
}

.header_btn:hover{
    color: #070707;
    transition-property: color;
    transition-duration: 1s;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.info_my{
    font-size: 47px;
    font-weight: bold;
}

.info_post{
    display: flex;
    text-align: center;
    padding-top: 50px;
}

.info_languages{
    margin-right: -30px;
    transform: rotate(-90deg);
}

.info_languages:hover{
    text-decoration: underline;
    transition-property: text-decoration;
    transition-duration: 1s;
} 

.activ{
    font-size: 18px;
    color: #070707;
    text-decoration: none;
    font-weight: bold;
}

.inactiv{
    font-size: 18px;
    color: #828282;
    text-decoration: none;
}

.info_foto{
    display: block;
}

.bloc{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.title{
    padding: 20px;
    font-weight: bold;
    font-size: 34px;
    margin: 0 auto;
}

.skills-bar{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.skills-bar_form{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 90px;
    border-radius: 15px;
}

.name{
    color: #828282;
    font-size: 14px;
}

.foto{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
}

.about{
    width: 1445px;
    height: 506px;
    background: #F6F6F6;
}

.inner-txt{
   color: #070707; 
   padding-top: 120px;
}

.me-title{
    color: var(--black, #070707);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about_info{
    text-align: center;
}

.skills{
    text-align: center;
}

.skills-bar_form{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 90px; 
}

.skill-title{
    color: var(--black, #070707);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 90px;
}

#txt{
    margin-top: 70px;
    margin-bottom: 85px;
}
