html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}
.__grey{
    background: #F6F6F6;
    margin-top:100px ;
}
.header{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid #828282 2px;
}

.header_btn{
    font-size: 18px;
    text-decoration: none;
    color: #828282;
    transition-property: color;
    transition-duration: 0.3s;
}

.header_menu{
    display: flex;
    justify-content: space-between;
}

.header_btn:hover{
    color: #070707;
    
}

.info_cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.info_my{
    font-size: 47px;
    font-weight: bold;
}

.info_post{
    display: flex;
    text-align: center;
    padding-top: 50px;
}

.info_languages{
    margin-right: -30px;
    transform: rotate(-90deg);
    transition-property: text-decoration;
    transition-duration: 0.3s;
}

.info_languages:hover{
    text-decoration: underline;
    
} 

.activ{
    font-size: 18px;
    color: #070707;
    text-decoration: none;
    font-weight: bold;
}

.inactiv{
    font-size: 18px;
    color: #828282;
    text-decoration: none;
}

.info_foto{
    display: block;
}

.block{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.title{
    padding: 20px;
    font-weight: bold;
    font-size: 34px;
    margin: 0 auto;
}



.skills-bar{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.skills-bar_form{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    
}

.logo{
    width: 90px;
    border-radius: 15px;
}

.name{
    color: #828282;
    font-size: 14px;
}

.starfild{
    display: flex;
    justify-content: space-between;
    
    width: 170px;
}

.star{
    
    width: 26px;
}

.projects{
    grid-row:auto;
}

.link{
    text-decoration: underline;
    cursor: pointer;
    color: #070707;
    transition-property: color;
    transition-duration: 0.3s;
}

.link:hover{
    color: #828282;
    
}

.projects_foto{
    margin-top: 100px;
    margin-bottom: 45px;
}

.contact_btn{
    background-color: #070707;
    border-radius: 19px;
    color: #FFF;
    height: 38px;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
}

.contact_btn:hover{
    background-color: #828282;
    
}

.contact_foto{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 45px;
}

.icn{
    cursor: pointer;
    max-width: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.like{
    color: #828282;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal:target{
    opacity: 1;
    visibility: visible;
}
.modal_fild{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}
.modal_content{
   background-color: aliceblue;
   color: black;
   max-width: 100%;
   padding: 30px;
   position: relative;
}
.modal_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal_title{
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}
.modal_txt{
    color: black;
}